In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [3]:
df1 = pd.read_csv('allresults.csv')
df1.head()

,Title,Duration,Date,estRating,Series Title,Movie/Series
0,The Croods,5931,12/9/2020,48,NaN,Movie
1,Part 1: And the Winner is...,2204,12/9/2020,49,Selena: The Series,Series
2,Part 1: Dame Un Beso,2222,12/5/2020,49,Selena: The Series,Series
3,Part 1: Daydream,2450,12/5/2020,49,Selena: The Series,Series
4,Season 1: Act of God,3490,11/29/2020,49,The Crown,Series

# Movies vs Series Count

In [4]:
df1['Movie/Series'].value_counts()

Series    260
Movie      40
Name: Movie/Series, dtype: int64

# Top 10 Series

In [5]:
df1['Series Title'].value_counts().head(10)

The Legend of Korra             36
Schitt's Creek                  25
The Good Place                  24
Avatar: The Last Airbender      24
Girlfriends                     14
The Walking Dead                13
The Office (U.S.)               12
InuYasha                        11
Love, Death & Robots            10
The End of the F***ing World     8
Name: Series Title, dtype: int64

# Top 5 Days of viewing and Duration

In [6]:
df1['Date'].value_counts().head(5)

11/12/2020    12
6/5/2020      12
6/8/2020      12
9/6/2020      11
3/22/2020     11
Name: Date, dtype: int64

## Max duration in Hours

In [7]:
max_duration = df1.groupby(['Date']).agg('sum')/3600
max_duration['Duration'].head()

Date
1/12/2020    1.775833
1/13/2020    0.939444
1/17/2020    2.172222
1/18/2020    0.374444
1/19/2020    0.411667
Name: Duration, dtype: float64

In [8]:
max_duration['Duration'].nlargest(7)

Date
11/25/2020    10.276389
9/6/2020       8.029444
3/22/2020      8.025278
6/5/2020       6.953056
9/16/2020      5.738611
11/29/2020     5.113056
6/8/2020       4.929722
Name: Duration, dtype: float64

## Number of Unique Series Watched

In [9]:
df1['Series Title'].nunique()

44

## First Watched for the Year

In [10]:
df1.tail(10)

,Title,Duration,Date,estRating,Series Title,Movie/Series
290,Season 2: Episode 2,1194,1/13/2020,19,The End of the F***ing World,Series
291,Volume 1: WHEN THE YOGURT TOOK OVER,394,1/13/2020,16,"Love, Death & Robots",Series
292,Volume 1: SUITS,1054,1/13/2020,16,"Love, Death & Robots",Series
293,Volume 1: THE WITNESS,740,1/13/2020,16,"Love, Death & Robots",Series
294,Ip Man,6393,1/12/2020,29,NaN,Movie
295,Season 2: Episode 1,1504,1/9/2020,19,The End of the F***ing World,Series
296,Marriage Story,8218,1/9/2020,28,NaN,Movie
297,The King,8430,1/6/2020,31,NaN,Movie
298,Season 1: The End's Beginning,3664,1/6/2020,47,The Witcher,Series
299,The Bros,6129,12/23/2019,16,NaN,Movie

## First Watched for Quarantine

In [25]:
df1.loc[df1['Date'] == '3/21/2020']

,Title,Duration,Date,estRating,Series Title,Movie/Series
248,Season 1: Episode 3,3333,3/21/2020,28,Kingdom,Series
249,Season 1: Episode 1,3415,3/21/2020,28,Kingdom,Series

## Duration Watched for the Year (Hours)

In [23]:
max_duration['Duration'].sum()*60

11654.383333333333

## Most Watched Movie

In [46]:
movies=df1[df1['Movie/Series']=="Movie"]
movieindex=movies['Title'].duplicated()
movies
#movies.nlargest(5,'Duration')

,Title,Duration,Date,estRating,Series Title,Movie/Series
0,The Croods,5931,12/9/2020,48,NaN,Movie
24,The Indian in the Cupboard,5769,11/26/2020,30,NaN,Movie
25,Ocean's Eleven,6990,11/25/2020,30,NaN,Movie
26,The Devil All The Time,8332,11/25/2020,28,NaN,Movie
27,The Help,8819,11/25/2020,38,NaN,Movie
28,How to Train Your Dragon 2,6134,11/25/2020,38,NaN,Movie
29,Boyz n the Hood,6720,11/25/2020,30,NaN,Movie
30,Kevin Hart: Zero F**ks Given,4174,11/22/2020,40,NaN,Movie
47,Beowulf,6852,11/12/2020,27,NaN,Movie
48,NaN,0,11/12/2020,30,NaN,Movie
49,NaN,0,11/12/2020,30,NaN,Movie
50,NaN,0,11/12/2020,30,NaN,Movie
51,NaN,0,11/12/2020,30,NaN,Movie
52,NaN,0,11/12/2020,30,NaN,Movie
53,NaN,0,11/11/2020,30,NaN,Movie
92,Quest for Camelot,5141,10/8/2020,27,NaN,Movie
93,The Take,5520,10/8/2020,32,NaN,Movie
110,The Interview,6736,9/26/2020,30,NaN,Movie
111,Sinister,6540,9/25/2020,30,NaN,Movie
112,#Alive,5912,9/24/2020,34,NaN,Movie
119,The Social Dilemma,5676,9/22/2020,42,NaN,Movie
132,Terminator 3: Rise of the Machines,6536,9/6/2020,30,NaN,Movie
145,Project Power,6796,9/2/2020,43,NaN,Movie
155,Nightcrawler,7054,8/21/2020,27,NaN,Movie
195,Uncut Gems,8098,6/5/2020,40,NaN,Movie
203,MFKZ,5675,5/21/2020,22,NaN,Movie
204,Terminator Salvation,6873,5/21/2020,30,NaN,Movie
233,The Matrix Reloaded,8280,4/6/2020,30,NaN,Movie
239,The Incredibles 2,7068,3/22/2020,30,NaN,Movie
255,Always Be My Maybe,6142,3/12/2020,27,NaN,Movie
265,The Other Guys,6452,2/23/2020,16,NaN,Movie
266,Avengers: Infinity War,8985,2/20/2020,30,NaN,Movie
267,Inglourious Basterds,9180,2/15/2020,30,NaN,Movie
268,Inception,8884,2/7/2020,30,NaN,Movie
274,Burning Sands,6142,1/27/2020,16,NaN,Movie
277,Black Panther,8100,1/21/2020,30,NaN,Movie
294,Ip Man,6393,1/12/2020,29,NaN,Movie
296,Marriage Story,8218,1/9/2020,28,NaN,Movie
297,The King,8430,1/6/2020,31,NaN,Movie
299,The Bros,6129,12/23/2019,16,NaN,Movie